*{
    padding: 0;
    margin: 0;
    font-family: quicksand;
}

section{
    width: 100%;
    height: 100vh;
}

h1{
    font-family: quicksand-bold;
    font-weight: 700;
    font-size: 7em;
}

section:first-of-type{
    background-color: #d3e9d8;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(Images/kitchen.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    position: absolute;
    color: #333333;

    display: inherit;
    align-items: center;
    flex-direction: column;
}

#ingredients-body{
    background-color: #f2a6a1;
    display: flex;
}

#ingredients-text{
    margin: 1em;
    width: 60%;
    font-size: 2em;
}

#ingredients-body img{
    width: 40%;
}

#direction-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.steps-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.steps{
    height: 70%;
    font-size: 2em;
}

.steps-title{
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
}

#step1{
    background-color: #e4c6f5;
}

#step2{
    background-color: #f5e0b3;
}

#footnote{
    display: flex;
    align-items: center;
    text-align: center;
}

@font-face {
    font-family: quicksand;
    src: url("/fonts/Quicksand-Regular.ttf");
}

@font-face{
    font-family: quicksand-bold;
    src: url("fonts/Quicksand-Bold.ttf");
}